useDynLib(Mulcom)

importClassesFrom(Biobase, ExpressionSet)
importMethodsFrom(Biobase, exprs, featureNames, pData, varLabels)
importClassesFrom(methods, array, matrix)
importFrom(graphics, axis, box, mtext, par)
importFrom(grDevices, topo.colors)
importFrom(methods, new)
importFrom(stats, median, quantile)
importFrom(graphics, image)
importFrom(fields, image.plot)



export(mulCalc, mulDiff, mulFSG, mulOptPars, mulOptPlot, mulOpt,  mulPerm, mulScores, mulCAND, mulDELTA, mulParOpt, mulInt, mulIndex)
exportClasses(MULCOM, MULCOM_P)




